body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navColor{
    
    border-color:transparent;   
}
.navTextColor{
    color:white !important;   
}
.dropdown{
    color:white !important;
}
.table tr{
    background-color:#baf1ff;
}

.table tr th{
    background-color:#00c7f7;
}

.table tr:nth-child(odd) {
    background-color: #8ee8ff;
}

.formContainer{
    width:100%;
}

.formContainer form{
    margin-left:75%;
    align:right;
}

.indexBox{
    
    margin:5px;
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.8);
}
.btnIndex{
    box-shadow: 5px 5px 17px rgba(0, 0, 0, 0.8);
}
.marginLeft{
    
}
.dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5252; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }


